/*img {
    position: absolute;
    background-size: 
}*/
/*.anim {
    width: 150px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}*/

/*body {
    background-color: blue;
	background-image: url("pics/FreeV.jpg");
    background-height: 50%;
    background-size: cover;
    color: yellow;*/
    text-decoration: bold;*/
    font-size: 20px;
	background-repeat: no-repeat
}*/ 
.playbutton {
    float: right;
}
.playbut {
    margin-right: -45%;
    margin-left: 40%;
    margin-bottom: -50%;
    margin-top: auto;

}
.button {
    float: right;
    margin-top: 300px;
}


h3 {
    font-size: 25px;
}

img {
    height: 300px;
    width: 300px;
}

body {
    background: url("pics/bruce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    color: yellow;
    /*text-decoration: bold;*/
    font-size: 20px;

}


.center {
	text-align: center;
	margin-top: 400px;
}
}
/*#left_col {
	text-align: center;
    color: red;
	margin-top: -300px;
	width: 150px;
	height: 100px;
	float: left;
}*/
/*.born{
    color: yellow;
	margin-top: 250px;
	margin-left: 375px;
}*/
/**/